<html>
<head>
    <title>Twitter Client</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- <style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}
 
</style> -->
 
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a class="brand-logo center">A mini twitter api client</a>
		</div>
	</nav>
<div class="row"></div>
	<div class="container">
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="col s6">
						<input placeholder="hashtag here" id="hashtag" type="text">
						<label for="hashtag">Enter hashtag</label>
					</div>
					<div class="col s4">
						<input placeholder="min retweets here" id="min_retweets" type="text">
						<label for="min_retweets">Enter minimum retweets</label>
					</div>
					<div class="col s2">
						<a class="waves-effect waves-ligh btn">Search</a>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>